:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1rem;
}

.tree {
  // border-right: 1px solid var(--mat-sys-outline);
  min-width: 300px;
  background: var(--mat-sys-surface-container-low);
}

.content {
  flex: 1;
}

mat-tree {
  background-color: unset;
}

.component-tree {
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
}

.node-component {
  font-weight: bold;
  color: #2c3e50;
}

.node-properties-group {
  font-weight: bold;
  color: #16a085;
}

.node-control {
  color: #3498db;
}

.node-property {
  color: #8e44ad;
  font-style: italic;
}

.node-controls-group {
  font-weight: bold;
  color: #e74c3c;
}