:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1rem;
}

.tree {
  min-width: 300px;
  overflow: hidden;
  position: relative;
  height: 100%;
  background: var(--mat-sys-surface-container-low);
}

.content {
  flex: 1;
}

.component-tree {
  background-color: unset;
  border-radius: 4px;
  position: absolute;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.node-component {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .type {
    color: #e67e22;
    font-size: small;
  }
}

.node-properties-group {
  font-weight: bold;
  color: #16a085;
}

.node-property {
  color: #8e44ad;
  font-style: italic;
}

.node-controls-group {
  font-weight: bold;
  color: #e74c3c;
}